@import "tailwindcss";

@layer base {
  img {
    max-width: 100%;
    height: auto;
  }
}

body {
  min-height: 100vh; /* ⭕ 標準のCSS記法にするか、 @apply min-h-screen; に直すよ！ */
  overflow-y: auto; /* 縦スクロールを許可する */
}